table {
  width: 100%;
}
#Utable{
  margin-top: 2%;
  background-color:  #A5D8DD;
}
#filter{
   font-family: 'Courier New', Courier, monospace;
   font-style: italic;
}
#pgn{
   margin-top: 2%;
   background-color:  #A5D8DD;
   border-radius: 5px;
   box-shadow:50px;
}

