table {
  width: 100%;
}
#Utable{
  margin-top: 2%;
  margin-left: 35%;
}
#filter{
   margin-left:35%;
}
#pgn{
   margin-top: 2%;
   margin-left: 35%;
}
.w-100{
  width: 100px;
}
.td{
  width: 70px;
}