#assigned:hover{
   color: black;

}
ul{
   display: inline;
   margin-top: 20px;
}
li{
    display: inline;
    padding-left: 20px;
    padding-top: 10px;
}
#Ttable{
   margin-top: 2%;
   margin-left: 25%;
   width:60%;
}
.description{
    width: 60px;
}
#filter{
    margin-left:25%;
}
#pgn{
    margin-top: 2%;
    margin-left: 25%;
}
#project{
    width:1%;
   
   
}
.tbutton{
   background-color: cornflowerblue;
   color: white;
   font-weight: bold;
}
.tbutton::selection{
    color: black;
}
.ng-container{
    width: 120px;
}
.th{
    font-weight: lighter;
}
