<form>
    <mat-card><mat-card-header>
        <div mat-card-avatar class="header-image"></div></mat-card-header>
        <mat-card-content>
    <div class="input">
        <label>Username</label>
        <input type="text" id="username" [(ngModel)]="username" value="">
    </div>
    <div class="input">
        <label>Password</label>
        <input type="password" id="password" [(ngModel)]="password" value="" >
    </div>
        </mat-card-content>
    <mat-card-footer text-center>
   <button mat-raised-button color='accent' (click)="loginUser()">Login</button></mat-card-footer>

</mat-card>
</form>