<form [formGroup]="createTicketService.form" class="normal-form">
  <div class="controls-container">
  <mat-grid-list cols="3" rowHeight="3:1">
    <mat-grid-tile colspan="1">
     <input type="hidden" formControlName="id">
        <mat-form-field id="project">
          <mat-label>Project</mat-label>
          <mat-select formControlName="projectID" placeholder="Project*" id="placeholder">
            <ng-container *ngFor="let project of projects">
              <mat-option value="{{project.id}}">{{project.title}}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error>This field is mandatory</mat-error>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <mat-form-field id="title">
          <input formControlName="title" matInput placeholder="Title*" id="placeholder">
          <mat-error *ngIf="createTicketService.form.controls['title'].errors?.required">This field is mandatory</mat-error>
          <mat-error *ngIf="createTicketService.form.controls['title'].errors?.minlength">Title can't be less than 10 character</mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
         <mat-form-field id="status">
          <mat-select formControlName="status" placeholder="Open" [value]="defaultStatus" id="placeholder">
            <ng-container *ngFor="let stat of status">
              <mat-option value="{{stat}}">{{stat}}</mat-option>
            </ng-container>
          </mat-select>
                  <mat-error>This field is mandatory</mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <mat-form-field id="desc">
          <textarea matInput formControlName="description" matInput placeholder="Description*" id="placeholder"></textarea>
          <mat-error *ngIf="createTicketService.form.controls['description'].errors?.required">This field is mandatory</mat-error>
          <mat-error *ngIf="createTicketService.form.controls['description'].errors?.minlength">Description can't be less than 10 character</mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        <mat-form-field id="At">
          <mat-label>Assign To:</mat-label>
          <mat-select formControlName="assignedTo" placeholder="Assign To*" id="placeholder">
            <ng-container *ngFor="let user of users">
              <mat-option value="{{user.id}}">{{user.email}}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error>This field is mandatory</mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <mat-form-field id="date" appearance="fill">
          <input matInput formControlName="dueDate" [matDatepicker]="picker" placeholder="Due date" id="placeholder">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker  #picker></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        <mat-form-field id="priority">
          <mat-select formControlName="priority" placeholder="Priority*" id="placeholder">
            <ng-container *ngFor="let priority of priorities">
              <mat-option value="{{priority}}">{{priority}}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error>This field is mandatory</mat-error>
        </mat-form-field></mat-grid-tile>
      <mat-grid-tile colspan="2">
       <button id="submit" mat-raised-button color="accent" type="submit" (click)="onSubmit()"
                [disabled]="createTicketService.form.invalid">Submit
        </button>
        <button id="reset" mat-raised-button color="primary" type="submit" (click)="onClear()">Reset</button>
        <button id="back" mat-raised-button color="primary" type="submit" (click)="onClose()">Back</button>
      </mat-grid-tile>
</mat-grid-list>
</div>
</form>

{{createTicketService.form.value | json}}
