<form [formGroup]="createTicketService.form" class="normal-form ">
    <mat-grid-list cols="1" rowHeight="600px">
        <mat-grid-tile>
            <div class="controls-container">
                <input type="hidden" formControlName="$key">
                <mat-form-field>
                    <mat-select formControlName="project" placeholder="Project*">
                        <ng-container *ngFor="let project of projects">
                            <mat-option value="{{project.id}}">{{project.value}}</mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error>This field is mandatory</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="title" matInput placeholder="title*">
                    <mat-error>This field is mandatory</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-select formControlName="status" placeholder="open" [value]="defaultStatus" disabled>
                        <ng-container *ngFor="let status of status">
                            <mat-option value="{{status.id}}">{{status.value}}</mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error>This field is mandatory</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="assignTo" matInput placeholder="assignTo*">
                    <mat-error>This field is mandatory</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-select formControlName="priority" placeholder="priority*">
                        <ng-container *ngFor="let priority of priority">
                            <mat-option value="{{priority.id}}">{{priority.value}}</mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error>This field is mandatory</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <input matInput fromControlName="dueDate" [matDatepicker]="picker" placeholder="due date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="description" matInput placeholder="description*">
                    <mat-error>This field is mandatory</mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit" [disabled]="createTicketService.form.invalid">Submit</button>
                <button mat-raised-button color="primary" type="submit" (click)="onClear()">Reset</button>     
                <button mat-raised-button color="primary" type="submit" (click)="back()">Back</button>  
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>