 
.line{
  align-content: flex-end;
  box-shadow: 60px;
  padding-top: 10px;
 
}
#ch{
  display: block;
  width: 500px;
  
  
}
.lch
{

margin-left: 10px;
}
.dch{
  margin-right: 40px;
}
.lchart{
  width: 600px;
  
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  padding-left: 20px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.mat-grid-list{
  margin-left: 2%;
}
.mat-grid-tile{
  align-content: flex-end;
}
.mat-card{
  align-content: flex-end;
}
#dnut{
  align-content:center;
  align-items: flex-end;
  
  width: 250px;
}
.cards{
  max-width: 900px;
  border-radius: 20px;
  
}
.dnutcard{
  width: 250px;
  align-content: center;
  border-radius: 20px;
}